<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{{ url_for('static', path='/link.gif') }}" type="image/gif" />
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', path='/main.js') }}"></script>
    <title>404 Url Not Found</title>
</head>
<header>
</header>
<body>
<div class="header">
    <h class="title">Url Shorten</h>
</div>
<div class="main">
<div class="main404">
    <h>Url Not Found</h>
    </div> 
</div>
</div>
<div class="footer">
    <div class="git-div" onclick="window.open( "https://github.com/iseshu/shorten-link-web", "_blank");">
       <div class="git-submain">
        <div class="icons8-github"></div>
            <p class="git-p">View on GitHub</p>
       </div>
    </div>
</div>
</body>
<footer>
</footer>
</html>
